/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX content block component.
 */

/* Content block. */
.content__block {
    flex: 1;
}

/* Position. */
/* Content block position above. */
.content__block___above {
    z-index: 1;
}

/* Position. */
/* Content block bottom right. */
.content__block___bottom___right {
    margin-bottom: calc(-1 * var(--scale___460)); /* Matches top position. Scoots next section up. */
    margin-left: auto;
    top: calc(-1 * var(--scale___460));
}

/* Scale. */
/* Content block medium. */
.content__block___m {
    padding: var(--scale___64) var(--scale___64) calc(var(--scale) * 2.8125); /* 64px 64px 90px. */ /* TODO review */
}

/* Scale. */
/* Content block large. */
.content__block___l {
    padding: var(--scale___128) var(--scale___60);
}

/* Theme. */
/* Content block off white. */
.content__block___offWhite {
    background-color: var(--off-white);
    height: inherit;
}

/* Type. */
/* Content block offset. */
.content__block___offset {
    box-sizing: content-box;
    position: relative;
    width: var(--scale___1080);
}

/* Content block - all images. */
.content__block > img {
    display: block;
    margin: 0;
    width: 100%;
}
