/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX content block component.
 */

/* Content block. */
.content__block {
    flex: 1;
}

/* Scale. */
/* Content block medium. */
.content__block___m {
    padding: var(--vu___64) var(--vu___64) calc(var(--vu___x) * 90); /* 64px 64px 90px. */ /* TODO review */
}

/* Scale. */
/* Content block large. */
.content__block___l {
    padding: var(--vu___120) var(--vu___60);
}

/* Theme. */
/* Content block off white. */
.content__block___offWhite {
    background-color: var(--off-white);
    height: inherit;
}

/* Content block - all images. */
.content__block > img {
    display: block;
    margin: 0;
    width: 100%;
}
