/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX grid component.
 */

/* Grid (flex). */
.grid {
    display: flex;
    flex-wrap: wrap;
}

/* Grid, second. */
/* TODO review. */
.grid:nth-of-type(2)::before {
    border-bottom: 2px solid var(--off-white);
    content: "";
    margin: 32px 0;
    width: 100%;
}

/* Grid, last. */
.grid:last-of-type {
    margin-bottom: 32px;
}

/* Grid by 1 (full width). */
/* Grid by 3. */
.grid___x1,
.grid___x3 {
    composes: grid;
}

/* Grid by 3. */
.grid___x3 {
    composes: grid;
    justify-content: space-between;
}

/* Grid (container). */
.grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* TODO review. */
    grid-gap: 0 32px; /* TODO review. */
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {

    /* Grid (container_. */
    .grid__container {
        grid-gap: 0 var(--vu___64); /* TODO review. */
    }

    /* Grid, second. */
    /* TODO review. */
    .grid:nth-of-type(2)::before {
        margin: var(--vu___64) 0;
    }

    /* Grid, last. */
    .grid:last-of-type {
        margin-bottom: var(--vu___64);
    }
}
