/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX tile date component.
 */

/* Date. */
.tile__date {
  margin-top: 16px;
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {
  /* Date. */
  .tile__date {
    font-size: var(--vu___20);
    margin-top: 24px;
  }
}
