/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX tile body component.
 */

/* Tile body. */
.tile__body {
    flex: 1; /* To take up remaining tile content space. */
}

/* Tile body - child - last. */
.tile__body > *:last-child {
    margin: 0;
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {

    /* Tile body. */
    .tile__body {
        font-size: var(--vu___20);
    }
}
