/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX grid duo component.
 */

/* Grid duo. */
.grid___duo {
  display: grid;
  grid-template-rows: [block] auto [thumbnail] auto;
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {
  /* Grid duo. */
  .grid___duo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
  }
}
