/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX tile thumbnail component.
 */

/* Tile thumbnail. */
.tile__thumbnail {
    width: 100%;
}

/* Scale. */
/* Tile thumbnail medium. */
.tile__thumbnail___m {
    width: 100%;
}

/* Tile image. */
.tile__thumbnail > div,
.tile__thumbnail___m > div {
    display: block;
    width: 100%;
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {

    /* Scale. */
    /* Tile thumbnail medium. */
    .tile__thumbnail___m {
        width: calc((100% - var(--vu___128)) / 3 * 2 + var(--vu___128));
    }
}
