/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX tile thumbnail component.
 */

/* Tile thumbnail. */
.tile__thumbnail {
    width: 100%;
}

/* Scale. */
/* Tile thumbnail medium. */
.tile__thumbnail___m {
    width: calc((100% - var(--vu___128)) / 3 * 2 + var(--vu___128));
}

/* Tile image. */
.tile__thumbnail > div,
.tile__thumbnail___m > div {
    display: block;
    width: 100%;
}
