/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * JXTX core css variables.
 */

:root {
    --accent-blue: #2077B3;
    --accent-blue-dark: #1D579D;
    --accent-orange: #FE7F02;
    --accent-orange-light: #FDBF6F;
    --black: #000000;
    --black12: rgba(0, 0, 0, 0.12);
    --default-text: #000000;
    --off-white: #F8F8F8;
    --white: #FFFFFF;
}
