/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * JXTX core css variables.
 */

:root {
  --accent-blue: #2077b3;
  --accent-blue-light: #a3cbdf;
  --accent-orange: #fe7f02;
  --accent-orange-light: #fdbf6f;
  --accent-pink: #FB9998;
  --accent-red: #e31a1e;
  --background: #fafafa;
  --black: #000000;
  --black12: rgba(0, 0, 0, 0.12);
  --black54: rgba(0, 0, 0, 0.54);
  --default-text: #000000;
  --off-white: #f8f8f8;
  --white: #ffffff;
}
