/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * JXTX viewport unit css variables.
 * Facilitates viewport sized typography and styles.
 * Styles are sized in relation to the viewport and optimized for media breakpoints at 414px/1800px.
 */

:root {
  --vu___2: calc(var(--vu___x) * 2);
  --vu___4: calc(var(--vu___x) * 4);
  --vu___8: calc(var(--vu___x) * 8);
  --vu___12: calc(var(--vu___x) * 12);
  --vu___16: calc(var(--vu___x) * 16);
  --vu___20: calc(var(--vu___x) * 20);
  --vu___24: calc(var(--vu___x) * 24);
  --vu___28: calc(var(--vu___x) * 28);
  --vu___32: calc(var(--vu___x) * 32);
  --vu___36: calc(var(--vu___x) * 36);
  --vu___40: calc(var(--vu___x) * 40);
  --vu___44: calc(var(--vu___x) * 44);
  --vu___48: calc(var(--vu___x) * 48);
  --vu___52: calc(var(--vu___x) * 52);
  --vu___56: calc(var(--vu___x) * 56);
  --vu___60: calc(var(--vu___x) * 60);
  --vu___64: calc(var(--vu___x) * 64);
  --vu___72: calc(var(--vu___x) * 72);
  --vu___84: calc(var(--vu___x) * 84);
  --vu___96: calc(var(--vu___x) * 96);
  --vu___100: calc(var(--vu___x) * 100);
  --vu___112: calc(var(--vu___x) * 112);
  --vu___120: calc(var(--vu___x) * 120);
  --vu___124: calc(var(--vu___x) * 124);
  --vu___128: calc(var(--vu___x) * 128);
  --vu___180: calc(var(--vu___x) * 180);
  --vu___200: calc(var(--vu___x) * 200);
  --vu___232: calc(var(--vu___x) * 232);
  --vu___396: calc(var(--vu___x) * 396);
  --vu___900: calc(var(--vu___x) * 900);
  --vu___1032: calc(var(--vu___x) * 1032);
  --vu___1052: calc(var(--vu___x) * 1052);
  --vu___max: 1800; /* Controls the optimization of viewport units. */ /* Media breakpoint for large desktop. */
  --vu___mid: 768; /* Controls the optimization of viewport units. */ /* Media breakpoint for small tablet. */
  --vu___min: 414; /* Controls the optimization of viewport units. */ /* Media breakpoint for extra small phone. */
  --vu___x: calc(100vw / var(--vu___min)); /* Scales viewport units. */
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {
  :root {
    --vu___x: calc(100vw / var(--vu___max)); /* Scales viewport units. */
  }
}

/**
 * 1800px - Large (desktop).
 */
@media screen and (min-width: 1800px) {
  :root {
    --vu___x: calc(var(--bp-desktop) / var(--vu___max));
  }
}
