/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX article h1 component.
 */

/* Heading One <h1/>. */
.article__h1 {
    composes: heading___o from "../heading/heading.module.css";
    font-size: var(--vu___64);
    line-height: var(--vu___72);
    margin-bottom: var(--vu___60);
}
