/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX article blockquote component.
 */

/* Blockquote <blockquote/>. */
.article__blockquote {
    border-left: 1px solid var(--accent-orange-light);
    margin: calc(var(--scale) * 0.9375) 0; /* 30px 0px. */
    padding-left: var(--scale___32); /* TODO review. */
}
