/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX tile component.
 */

/* Tile. */
.tile {
    display: flex;
    flex: 1; /* Evenly allocates width to tiles within <Grid/>. */
    position: relative; /* Positions <TileLink/>. */
}

/* Orientation. */
/* Row. */
.tile__row {
    composes: tile;
    flex-direction: column;
}

/* Orientation. */
/* Column. */
.tile__column {
    composes: tile;
    flex-basis: 100%;
    flex-direction: column;
}

/* Orientation. */
/* Column - middle tile. */
.tile__column:nth-of-type(even) {
    margin: 32px 0;
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {

    /* Orientation. */
    /* Row. */
    .tile__row {
        flex-direction: row;
    }

    /* Orientation. */
    /* Column. */
    .tile__column {
        flex: 1;
        min-height: var(--vu___900);
    }

    /* Column - middle tile. */
    .tile__column:nth-of-type(even) {
        margin: 0 var(--vu___64);
    }
}
