/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX heading component.
 * Used by section heading and content block heading components.
 */

/* Compose class ".heading" - heading. */
.heading {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

/* Scale. */
/* Small. */
.h___s {
    composes: heading;
    font-size: var(--scale___32);
    line-height: var(--scale___40);
    margin-bottom: var(--scale___16);
}

/* Scale. */
/* Medium. */
.h___m {
    composes: heading;
    font-size: var(--scale___44);
    line-height: var(--scale___52);
    margin-bottom: var(--scale___16);
}

/* Scale. */
/* Large. */
.h___l {
    composes: heading;
    font-size: var(--scale___48);
    line-height: var(--scale___60);
    margin-bottom: var(--scale___24);
}

/* Theme. */
/* Heading theme "orange". */
/* Heading theme "blue". */
.heading___o,
.heading___b {
    position: relative; /* Positions heading accent. */
}

/* Theme. */
/* Heading theme "orange". */
.heading___o::after {
    background-color: var(--accent-orange-light);
}

/* Theme. */
/* Heading theme "blue". */
.heading___b::after {
    background-color: var(--accent-blue);
}

/* Theme. */
/* Heading theme "orange" and "blue" accent. */
.heading___o::after,
.heading___b::after {
    bottom: calc(-1 * var(--scale___4));
    content: "";
    height: var(--scale___4);
    left: 0;
    position: absolute;
    width: var(--scale___124);
}
