/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX heading component.
 * Used by section heading and content block heading components.
 */

/* Scale. */
/* Small. */
.h___s {
  font-size: var(--vu___24);
  margin-bottom: var(--vu___16);
}

/* Scale. */
/* Medium. */
.h___m {
  font-size: var(--vu___32);
  margin-bottom: var(--vu___16);
}

/* Scale. */
/* Large. */
.h___l {
  font-size: var(--vu___40);
  margin-bottom: var(--vu___24);
}

/* Theme. */
/* Heading theme "orange". */
/* Heading theme "blue". */
.heading___o,
.heading___b {
  position: relative; /* Positions heading accent. */
}

/* Theme. */
/* Heading theme "orange". */
.heading___o::after {
  background-color: var(--accent-orange-light);
}

/* Theme. */
/* Heading theme "blue". */
.heading___b::after {
  background-color: var(--accent-blue);
}

/* Theme. */
/* Heading theme "orange" and "blue" accent. */
.heading___o::after,
.heading___b::after {
  bottom: calc(-1 * var(--vu___4));
  content: "";
  height: var(--vu___4);
  left: 0;
  position: absolute;
  width: var(--vu___124);
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {
  /* Scale. */
  /* Small. */
  .h___s {
    font-size: var(--vu___32);
  }

  /* Scale. */
  /* Medium. */
  .h___m {
    font-size: var(--vu___44);
  }

  /* Scale. */
  /* Large. */
  .h___l {
    font-size: var(--vu___48);
  }
}
