/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX content block body component.
 */

/* Compose class "c__b__b" - content block body. */
/* Applies styles to content block body link. */
.c__b__b a {
    color: var(--accent-blue);
    text-decoration: none;
}

/* Compose class "c__b" - content block body. */
/* Removes margin to last child of content block body. */
.c__b__b:last-child {
    margin: 0;
}

/* Scale. */
/* Content block body large "48px". */
.content__body___l {
    composes: c__b__b; /* Content block body. */
    font-size: var(--vu___48);
    line-height: var(--vu___60);
    margin-bottom: var(--vu___64);
}
