/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX home component.
 */

/* Home main. */
.main {
  background-color: var(--white);
  margin: 0 auto;
  max-width: var(--maximum);
  width: 100%;
}

label {
  display: block;
  position: relative;
  width: 6em;
}

input, textarea {
  position: absolute;
  left: 7em;
  width: 20em;
}

div.inline-donate-button {
  float: right;
}
