/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX section component.
 */

/* Type. */
/* Section article. */
.section__article {
    margin: 0 auto;
    padding: var(--vu___36) 0;
}

/* Type. */
/* Section collection. */
.section__collection {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}

/* Type. */
/* Section headline. */
.section__headline {
    margin: var(--vu___60) 0;
    height: var(--vu___396);
}

/* Type. */
/* Section hero. */
.section__hero {
    position: relative; /* Positions hero image. */
}

/* Type. */
/* Section hero sub. */
.section__hero___sub {
    padding: var(--vu___200) var(--vu___128);
}

/* Type. */
/* Section hero tile. */
.section__hero___tile {
    align-items: stretch;
    display: flex;
    position: relative; /* Positions internal link. */
}

/* Type. */
/* Section offset. */
.section__offset {
    margin: var(--vu___128);
    overflow: hidden; /* Required to hide overflow from repositioning offsets. */
    position: relative; /* Positions offsets. */
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {

    /* Type. */
    /* Section article. */
    .section__article {
        max-width: var(--vu___1052);
        padding: var(--vu___60) 0;
    }
}
