/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX section component.
 */

/* Type. */
/* Section article. */
.section__article {
    margin: 0 auto;
    padding: var(--vu___36) 0;
}

/* Type. */
/* Section collection. */
.section__collection {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: var(--gutter);
}

/* Type. */
/* Section headline. */
.section__headline {
    align-items: center;
    background-color: var(--off-white);
    display: flex;
    height: var(--vu___128);
    margin: var(--vu___36) var(--gutter-x);
}

/* Type. */
/* Section hero. */
.section__hero {
    position: relative; /* Positions hero image. */
}

/* Type. */
/* Section hero sub. */
.section__hero___sub {
    margin: var(--gutter);
    padding: var(--vu___200) var(--pos___128);
}

/* Type. */
/* Section hero tile. */
.section__hero___tile {
    align-items: stretch;
    display: flex;
    margin: var(--gutter);
    position: relative; /* Positions internal link. */
}

/* Type. */
/* Section hero tile - children. */
/* TODO review. */
.section__hero___tile > * {
    flex-basis: 50% !important;
}

/* Type. */
/* Section hero tile subsequent. */
.section__hero___tile + .section__hero___tile {
    padding-top: var(--vu___128);
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {

    /* Type. */
    /* Section article. */
    .section__article {
        max-width: var(--vu___1052);
        padding: var(--vu___60) 0;
    }

    /* Type. */
    /* Section headline. */
    .section__headline {
        height: var(--vu___396);
        margin: var(--vu___60) var(--gutter-x);
    }

    /* Type. */
    /* Section hero. */
    .section__hero {
        margin: 0 auto;
        max-width: var(--maximum);
    }
}

/**
 * 1800px - Large (desktop).
 */
@media screen and (min-width: 1800px) {

    /* Type. */
    /* Section collection. */
    .section__collection {
        margin: 0 auto;
    }

    /* Type. */
    /* Section headline. */
    .section__headline {
        margin: var(--vu___60) auto;
    }

    /* Type. */
    /* Section hero sub. */
    /* Section hero tile. */
    .section__hero___sub,
    .section__hero___tile {
        margin: 0 auto;
    }

    /* Type. */
    /* Section collection. */
    /* Section headline. */
    /* Section hero sub. */
    /* Section hero tile. */
    .section__collection,
    .section__headline,
    .section__hero___sub,
    .section__hero___tile {
        max-width: calc(var(--maximum) - var(--gutter-x) * 2);
    }
}
