/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX footer component.
 */

/* Compose class "f__a--c". */
/* Applies flex and align items centered. */
.f__a--c {
    align-items: center;
    display: flex;
}

/* Compose class "f__f" - footer font. */
/* Generic font specification for hero logo, navigation and legal. */
.f__f {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

/* Compose class "f__s" - footer section. */
/* Generic section styles for hero, navigation and legal. */
.f__s {
    border-bottom: 2px solid var(--white);
    margin: var(--gutter);
    padding: 64px 0;
}

/* Footer. */
.footer {
    background-color: var(--accent-blue-dark);
    color: var(--white);
}

/* Hero. */
.footer__hero {
    composes: f__s; /* Section. */
    composes: f__a--c; /* Flex. */
    justify-content: space-between;
}

/* Logo. */
.footer__hero__logo {
    composes: f__f; /* Font. */
    font-size: 32px; /* Overrides f__f font size. */
    line-height: 40px; /* Overrides f__f line height. */
}

/* Socials. */
.footer__hero__socials {
    composes: f__a--c; /* Flex. */
}

/* Social. */
/* Conjoins with <ButtonSocial/> styles. */
.footer__hero__socials > a {
    margin-left: 32px;
}

/* Social - first. */
/* Conjoins with <ButtonSocial/> styles. */
.footer__hero__socials > a:first-of-type {
    margin-left: 0;
}

/* Nav. */
.footer__nav {
    composes: f__s; /* Section. */
}

/* Nav - all children. */
.footer__nav * {
    list-style: none; /* Remove all list styles from <ul>. */
    margin: 0; /* Remove all margin from <ul>, <li>. */
}

/* Nav item. */
.footer__nav__item {
    composes: f__f; /* Font. */
    margin-top: 16px;
    text-transform: uppercase;
}

/* Nav item - first. */
.footer__nav__item:first-of-type {
    margin-top: 0;
}

/* Legal (privacy, copyright). */
.footer__legal {
    composes: f__s; /* Section. */
    composes: f__a--c; /* Flex. */
    composes: f__f; /* Font. */
    border-bottom: none; /* Overrides f__s border. */
    justify-content: space-between;
    padding: 32px 0; /* Overrides f__s padding. */
}

/* Logo. */
/* Nav item - all children (link). */
/* Legal (privacy, copyright). */
.footer__hero__logo,
.footer__nav__item > *,
.footer__legal > * {
    color: inherit;
    text-decoration: none;
}
