/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX article h1 component.
 */

/* Heading One <h1/>. */
.article__h1 {
  composes: heading___o from "../heading/heading.module.css";
  font-size: var(--vu___28);
  margin-bottom: var(--vu___32);
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {
  /* Heading One <h1/>. */
  .article__h1 {
    font-size: var(--vu___64);
    line-height: 1.125;
    margin-bottom: var(--vu___60);
  }
}
