/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX newsroom date component.
 */

/* Date. */
.newsroom__date {
    color: var(--black54);
    font-family: "Source Sans Pro", sans-serif;
    font-size: var(--vu___20);
    line-height: var(--vu___32);
    margin-bottom: var(--vu___16);
}
