/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX grid item article component.
 */

/* Grid area article. */
.grid__area__article {
  grid-area: article;
}

/* Grid area heading. */
.grid__area__heading {
  grid-area: heading;
}

/* Grid area thumbnail. */
.grid__area__thumbnail {
  grid-area: thumbnail;
}

/**
 * 1240px - Medium (laptop).
 */
@media screen and (min-width: 1240px) {
  /* Grid area article. */
  /* Grid area heading. */
  .grid__area__article,
  .grid__area__heading {
    border-right: 1px solid var(--off-white);
    grid-column: 1 / 3;
    padding-right: var(--vu___32);
  }

  /* Grid area heading. */
  .grid__area__article {
    grid-row: 2 / 3;
  }

  /* Grid area heading. */
  .grid__area__heading {
    grid-row: 1 / 2;
  }

  /* Grid area thumbnail. */
  .grid__area__thumbnail {
    border-left: 1px solid var(--off-white);
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    padding-left: var(--vu___32);
  }

  /* Grid area article - last child. */
  .grid__area__article > *:last-child {
    margin: 0;
  }
}
