/*
 * JXTX Foundation
 * https://www.jxtxfoundation.org
 *
 * Style definitions specific to JXTX headline heading component.
 */

/* Headline heading. */
.headline__heading {
  font-size: var(--vu___40);
  margin: 0;
  padding: 0 16px; /* TODO review. */
}

/**
 * 768px - Small (tablet).
 */
@media screen and (min-width: 768px) {
  /* Headline heading. */
  .headline__heading {
    font-size: var(--vu___112);
    padding: 0 var(--pos___128);
  }
}
